.App {
  background-color: #d5c48e;
  display: flex;
  flex-direction: column;
  min-height: 1000vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar.open + .main-content {
  margin-left: 250px;
}
